[Unit]
Description=DozenOS network-event logger daemon

# Seemingly sensible way to say "as early as the system is ready"
# All dozenos-configd needs is read/write mounted root
After=dozenos.target

[Service]
ExecStart=/usr/bin/python3 -u /usr/libexec/dozenos/services/dozenos-network-event-logger -c /run/dozenos-network-event-logger.conf
Type=idle

SyslogIdentifier=dozenos-network-event-logger
SyslogFacility=daemon

Restart=on-failure

User=root
Group=vyattacfg

[Install]
WantedBy=multi-user.target
