#<username>:<group>:<hash>
{% if username is dozenos_defined %}
{%     for user, user_config in username.items() %}
{%         if user_config.disable is not dozenos_defined %}
{{ user }}:*:{{ user_config.hash }}
{%         endif %}
{%     endfor %}
{% endif %}