{% if authentication.mode is dozenos_defined('radius') or shaper is dozenos_defined %}
[shaper]
verbose=1
down-limiter=tbf
{%     if authentication.radius.rate_limit.enable is dozenos_defined %}
attr={{ authentication.radius.rate_limit.attribute }}
{%         if authentication.radius.rate_limit.vendor is dozenos_defined %}
vendor={{ authentication.radius.rate_limit.vendor }}
{%         endif %}
{%         if authentication.radius.rate_limit.multiplier is dozenos_defined %}
rate-multiplier={{ authentication.radius.rate_limit.multiplier }}
{%         endif %}
{%     endif %}
{%     if shaper is dozenos_defined %}
{%         if shaper.fwmark is dozenos_defined %}
fwmark={{ shaper.fwmark }}
{%         endif %}
{%     endif %}
{% endif %}